# compiled output
/dist
/node_modules
/build
/undefined

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output
/test-results
/undefined
undefined
*.txt
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.swo
*~
.vimrc
.cursor/
.trae/
/cursor-rules
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
AGENTS.md
opencode.json
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.dev.env
.encrypted.env
.env.prev
*.env

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Uploads
/uploads


.env

# AGENTS
AGENTS.md
/.agents

/.kiro
/.agents
